@model IEnumerable<ControleEstoque.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p class="acoes">
    <a asp-action="Criar" class="btn btn-primary">Novo Cliente</a>
</p>

<div class="clearfix"></div>

<div class="box">

    <table id="tabela" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeFantasia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CNPJ)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeFantasia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>
                    <td class="acoes">
                        <a asp-action="Editar" class="btn btn-warning" asp-route-id="@item.IDCliente">Editar</a>
                        <a asp-action="Detalhes" class="btn btn-secondary" asp-route-id="@item.IDCliente">Detalhes</a>
                        <a asp-action="Excluir" class="btn btn-danger" asp-route-id="@item.IDCliente">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".btn-nav-clientes").addClass(" active");
            $('#tabela').DataTable();

            var parametro = getParameterByName("status");

            if (parametro != null && parametro != "") {

                var mensagem = "";

                switch (parametro) {
                    case "cadastrado": mensagem = "O cliente foi cadastrado."; break;
                    case "alterado": mensagem = "Os dados do cliente foram cadastrados."; break;
                    case "excluido": mensagem = "O cliente foi excluído."; break;
                }

                swal("Sucesso!", mensagem, "success");
            }
        });
    </script>
}

